body{
    background-image: url(../images/background.gif);
}

.questionable{
    padding-bottom: 300px;
}
.answer {
    padding: 5px;
    margin: 15px;
}

.qButtons{
    margin: 0;
    padding: 0;
    text-align: center;
}



.hover:hover{
    background-color: green;
    border: solid;
    border-width: 1px;
    border-color: red;
    color: darkgreen;
}

.title{
    font-size: 60px;
    font-family: 'Anton', sans-serif;
}

.vertical{
    margin-top: 30%;
    padding-bottom: 30px;
    padding-top: 30px;
    /* padding-left: 60px;
    padding-right: 60px; */
}